.sidebar{
    width: 230px;
    overflow-y: scroll;
   position: fixed;
    height: 92vh;
}
#sidebar2{
    width: 80px;
    display: none;
      overflow-x: hidden;
}
.btn-holder span{
    font-weight: 500;
    font-size: 15px;
}
.btn-holder .bi{
    font-size: 20px;
}
.side-headings{
    font-size: 18px;
}
.btn-holder{
    width: 200px;
    margin: 0px auto;
}
.btn-holder2{
    width: 70px;
    margin: 0px auto;
}
.btn-holder:hover{
    background-color: #9992;
    border-radius: 5px;
}
.btn-holder .minbtn{
    font-size:12px;
   
}